<% if signed_in? %>

	<div>
		<ul>
			<li><%= link_to "Оборудование", hardwares_path %></li>
			<li><%= link_to "Виртуальные машины", vmhosts_path %></li>
			<li><%= link_to "Резервирования", events_path %></li>
		</ul>
			
			
	
	</div>
	
		
<% else %>

	<div class="center hero-unit">
	
		<h1>Добро пожаловать на портал отдела РСВУ</h1>
		<h2>
			Это домашняя страница портала отдела разработки СВУ
		</h2>

		<%= link_to "Зарегистрироваться", signup_path, class: "btn btn-large btn-primary" %>
	
	</div>
<% end %>
	
	
	

	

