<% if vm.valid_to %>
  <% if (vm.valid_to > Time.now.to_date + 1.month ) %>
    <span class="btn btn-success pull-left"><%= vm.get_activity %></span>
  <% else %>
    <% if (vm.valid_to >= Time.now.to_date ) %>
      <span class="btn btn-warning pull-left"><%= vm.get_activity %></span>
    <%else%>
      <span class="btn btn-danger pull-left"><%= vm.get_activity %></span>
    <%end%>
  <%end%>
<% else %>
  <span class="btn btn-danger pull-left">Неизвестно</span>
<% end %>



<% if vm.always_on %>
  <span class="btn btn-danger pull-left">!</span>
<% end %>
