<% provide(:title, 'Запланированные работы') %>
<h1>Мероприятия</h1>

<%= render partial: "shared/show_events", locals: {events: @events} %>
 

 <div class="btn-group pull-right">
  			<%= link_to "Добавить",new_event_path, class: 'btn btn-default' %>
 </div>
  