<% provide(:title, 'Запланированные работы') %>
 
 <div class="panel panel-default">
   <div class="panel-heading">
     	<h3 class="panel-title">Мероприятия</h3>
   </div>
   <div class="panel-body">
   		<%= render partial: "shared/show_events", locals: {events: @events.active} %>
   </div>
  </div>
 
 
<section>
	<div class="btn-group pull-right">
  			<%= link_to "Добавить",new_event_path, class: 'btn btn-default' %>
 	</div>
</section>
 
  