<% provide(:title, 'Новое оборудование') %>
<h1>Sign up</h1>

<div classs="row">
  <div>
    <%= form_for(@hardware) do |f| %>
			
      
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      

      <%= f.submit "Создать", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
